img {
    width: 50px;
    border-radius: 50%;
}

body {
    background-color: #f2f2f2;
}

/* Navigation Bar */
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color:lightsteelblue;
    color: black;
    padding: 10px;
    width: 100%;
}

header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color:lightsteelblue;
    color: black;
    width: 100%;
}

span > a {
    float: left;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    text-size-adjust:inherit;
}

#profile-button {
    float: right;
}

a > img {
    width: 25px;
}

span > a:hover {
    background-color: lime;
    color: white;
}

/* Main */
main {
    padding-top: 55px;
}

main > div {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

article {
    background-color: white;
    border: 1px solid white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
}

/* Leftmost Column */
ul {
    list-style-type:circle;
}

.profile > section {
    text-align: center;
}

.profile-points {
    display: block;
    width: 100%;
    text-decoration: none;
    color:black;
}

/* Middle Column */
.time-since-published {
    float: right;
}

button {
    background-color: lightsteelblue;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: lime;
    color: white;
}

/* Rightmost Column */
.friend-request h3, .friend-request h4 {
    text-align: center;
}

.friend-request img {
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0%;
}

.friend-request-buttons {
    display: flex;
}

.friend-request-buttons a:hover {
    background-color: lime;
}

.accept-button, .reject-button {
    text-decoration: none;
    background-color: green;
    color:white;
    padding: 10px 20px;
    width: 50%;
}

.reject-button {
    background-color: red;
}